/*universal styles*/
html {
  font-size: 18px;
}

body {

}
h1 {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 1rem;
}



.container {
  max-width: 960px;
  margin: 0 auto;}

/*header styles*/

  .header {
    background-color: black;
    color: white;
}

.header .container {
  display: flex;
  align-items: center;
}

.header img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.header h3 {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

/*main banner styles*/
.main-banner {
  background-image: url("main-img.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline {
  padding: 2rem 3rem;
  color: white;
  background-color: black;
  width: 20rem;
  top: 9rem;
  position: relative;
}

.headline h3 {
  margin-bottom: 0.25rem;
}

@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15rem;
  }
  .headline {
    padding: 1rem 2rem;
    top: 10rem;
    width: 100%;
  }

  .headline h4 {
    font-size: 0.77rem;
  }

  .headline h1 {
    font-size: 1rem;
  }
}
/*navigation styles*/

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }
}

/*main content style*/
.products, .business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  }

.product {
  width: 30%;
}

.product-image {
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
}

.product-image img {
  max-width: 8rem;
}

@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .product {
    width: 90%;
    margin: auto;
  }

.products {
  flex-wrap: wrap;
}
  .product.watch {
    display: none;
  }
}
/*business-info style section*/

.description {
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
  display: block;
}

.info {
  width: 35%;
}

.info .title {
  color: white;
  background-color: black;
    padding: 1rem 2rem;
    display: block;
}

@media only screen and (max-width: 470px) {
  .info {
    width: 90%;
    margin: 0.5rem auto;
  }

  .business-info {
    flex-wrap: wrap;
  }
}
/*footer styles*/
footer {
  padding: 5rem 0;
  margin-top: 4rem;
  color: white;
  background-color: black;
}

@media only screen and (max-width: 470px) {
footer {
  text-align: center;
}
}
